* {
  padding: 0;
  margin: 0;
  border: 0;
}

.wrapper {
 
}
.header {
  
}
.headerContainer {
}
.headerBody {
}
.headerLogo {
}
.nav {
  &_menu {
  }

  &_list {
  }
}
.loginButton {
}
.main {
  &_content {
  }

  &_images {
  }
}
.mainText1 {
}
.mainText1H2 {
}
.buttonFAQ {
}
.contentSection {
}
.sectionH2 {
}
.sectionButton1 {
}
.contentSection2 {
}
.mainText2 {
}
.mainText2H2 {
}
.sectionButton2 {
}
.contentSection3 {
}
.realStoriesText {
}
.card1 {
}
.cardH2 {
}
.cardComment1 {
}
.card2 {
}
.cardComment2 {
}
.card3 {
}
.appSection {
}
.appH2 {
}
.googleButton {
}
.appStoreButton {
}
.social {
}
.footer {
}
.footerContetnt {
}
.footerContent1 {
}
.footerH3 {
}
.footerContent2 {
}
.quickLinks {
}
.footerContent3 {
}
.guidesLinks {
}
.reachUsLinks {
}
